*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins', sans-serif;
    overflow-x: hidden;
}
body{
    justify-content: center;
    min-height: 100vh;
}

li{
    display: inline;
    position: relative;
    left: 500px;
    cursor: pointer;
    margin: 30px;
}
p{
    position: relative;
    left: 20px;
    top: 130px;
    font-size: 13px;
}
h1{
    position: relative;
    left: 20px;
    top: 100px;
    font-size:40px;
}
h3{
 font-size: 20px;
}

img{
    position: relative;
    left: 550px;
    bottom: 140px;
}
.LOGO{
    position: relative;
    left:60px;
    top: 23px;
}